@font-face {
  font-weight: 400;
  font-family: "elektratext";
  font-style: normal;
  src: url("../fonts/elektratext.woff2") format("woff2"), url("../fonts/elektratext.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "elektratext";
  font-style: normal;
  src: url("../fonts/elektratextbold.woff2") format("woff2"), url("../fonts/elektratextbold.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-family: "elektratext";
  font-style: normal;
  src: url("../fonts/elektratextlight.woff2") format("woff2"), url("../fonts/elektratextlight.woff") format("woff");
}
body {
  font-family: "elektratext", "Arial", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper--wide {
  width: 1200px;
}
.system {
  padding-top: 155px;
}
.system__list {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 55px;
}
.system__item {
  width: 360px;
  margin-right: 30px;
  margin-bottom: 70px;
}
.system__item:nth-child(3n) {
  margin-right: 0;
}
.system__img {
  width: 100%;
  height: 330px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.system__img a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.system__info {
  position: relative;
  width: 100%;
  min-height: 165px;
  padding: 20px;
  padding-top: 25px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), to(rgba(0, 0, 0, 0.05)));
  background-image: linear-gradient(to right, #fff 0%, #fff 50%, rgba(0, 0, 0, 0.05) 100%);
}
.system__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
.system__price {
  margin-top: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}
.system__btn {
  width: 277px;
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 22px;
  color: #fff;
  border: none;
  border-radius: 50px;
  background-color: #005ca9;
  text-transform: uppercase;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
.system__btn:hover,
.system__btn:active {
  font-size: 24px;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.title {
  margin-top: 0;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.subtitle {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.swiper-pagination-bullet {
  opacity: 1;
  width: 24px;
  height: 24px;
  background-color: #828285;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 19px;
  margin-right: 19px;
}
.swiper-pagination-bullet-active {
  background-color: #fefefe;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}
.swiper-slide img {
  display: block;
}
.filter-page {
  width: 100%;
  position: relative;
  padding-top: 50px;
  padding-bottom: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), to(rgba(0, 0, 0, 0.05)));
  background-image: linear-gradient(to right, #fff 0%, #fff 50%, rgba(0, 0, 0, 0.05) 100%);
}
.filter-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#fff));
  background-image: linear-gradient(to bottom, #dedede, #fff);
}
.filter__form {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.filter__wrap {
  padding: 0;
  width: 335px;
  margin-bottom: 40px;
}
.filter__wrap--right {
  text-align: right;
}
.filter__btn {
  width: 480px;
  height: 84px;
  bottom: -42px;
  cursor: pointer;
}
.filter__label {
  color: #919191;
  font-size: 26px;
  margin-right: 25px;
}
.filter__field {
  display: inline-block;
  position: relative;
}
.filter__field::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  background-color: #e8e8e8;
  border-radius: 20px;
}
.filter__field--full::before {
  width: 100%;
}
.filter__date,
.filter__select {
  position: relative;
  z-index: 2;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
.filter__date {
  width: 136px;
  padding: 0 10px;
}
.filter__date::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
}
.filter__date:-ms-input-placeholder {
  opacity: 1;
  color: #000;
}
.filter__date::-ms-input-placeholder {
  opacity: 1;
  color: #000;
}
.filter__date::placeholder {
  opacity: 1;
  color: #000;
}
.filter__select {
  padding: 0 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/icon-arrow-down.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right center;
}
.filter__select::-ms-expand {
  color: transparent;
  border: none;
  background-color: transparent;
}
.filter__select--brand {
  width: 223px;
}
.filter__select--model {
  width: 183px;
}
.filter__select--year {
  width: 183px;
}
.filter__select--diler {
  width: 220px;
}
.filter__check {
  display: none;
}
.filter__label--check {
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}
.filter__label--check::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #e8e8e8;
  border-radius: 5px;
}
.filter__label--check::after {
  display: none;
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 5px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.filter__check:checked + .filter__label--check::after {
  display: block;
}
.card {
  padding-bottom: 120px;
  position: relative;
}
.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d4d4), to(#f8f7f7));
  background-image: linear-gradient(to bottom, #d5d4d4, #f8f7f7);
}
.card__header,
.card__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.card__block {
  width: 485px;
  height: 450px;
  position: relative;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.card__info {
  width: 635px;
  min-height: 450px;
  padding: 40px 60px;
  padding-bottom: 30px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.05)), color-stop(50%, #fff), to(rgba(0, 0, 0, 0.05)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, #fff 50%, rgba(0, 0, 0, 0.05) 100%);
}
.card__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__btns {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__btn {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  color: #fff;
  border: none;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #b2b3b3;
  text-transform: uppercase;
}
.card__btn--compare {
  width: 294px;
  min-width: 294px;
  margin-right: 5px;
  padding-right: 20px;
  position: relative;
}
.card__btn--compare::before,
.card__btn--compare::after {
  content: "";
  position: absolute;
  right: 35px;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-size: contain;
}
.card__btn--compare::before {
  top: 17px;
  background-image: url(../img/arrow-up.png);
}
.card__btn--compare::after {
  bottom: 17px;
  background-image: url(../img/arrow-down.png);
}
.card__btn--download {
  width: 95px;
  min-width: 95px;
  background-image: url(../img/download.png);
  background-repeat: no-repeat;
  background-position: center;
}
.card__order {
  width: 346px;
  height: 63px;
  font-size: 16px;
}
.card__order:hover,
.card__order:active {
  font-size: 18px;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.card__price {
  margin: 0;
  font-size: 17px;
  color: #005aac;
}
.card__price span {
  font-size: 38px;
  line-height: 1.2;
}
.card__text {
  padding-bottom: 15px;
  border-bottom: 1px solid #b2b3b3;
}
.card__text p {
  font-size: 14px;
  line-height: 1.1;
}
.card__list {
  width: 100%;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.card__list li {
  width: 50%;
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 50px;
  padding-right: 20px;
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
}
.card__list li::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 15px;
  width: 16px;
  height: 7px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.card__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
.comparison {
  padding-top: 45px;
  padding-bottom: 75px;
  position: relative;
}
.comparison::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#fff));
  background-image: linear-gradient(to bottom, #dedede, #fff);
}
.comparison .subtitle {
  font-size: 28px;
  font-weight: 400;
}
.comparison + .system {
  padding-top: 40px;
}
.comparison__table {
  width: 100%;
  margin-top: 45px;
  font-size: 19px;
  line-height: 1.2;
  font-weight: 300;
  border-collapse: collapse;
}
.comparison__table th {
  height: 45px;
  text-transform: uppercase;
  font-weight: 400;
}
.comparison__table th,
.comparison__table td {
  width: 144px;
  text-align: center;
  vertical-align: middle;
}
.comparison__table .comparison__feature {
  width: 440px;
  text-align: left;
}
.comparison__table .comparison__blue {
  color: #005aac;
  font-weight: 400;
}
.comparison__table td {
  height: 44px;
}
.comparison__table td span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #005aac;
}
.comparison__table td b {
  font-weight: 400;
  font-size: 12px;
}
.comparison__table th:nth-child(5),
.comparison__table td:nth-child(5) {
  background-color: #ebecec;
}
@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
  .title {
    font-size: 32px;
  }
  .filter__wrap--right {
    text-align: left;
  }
  .filter__wrap {
    margin-left: auto;
    margin-right: auto;
  }
  .system__item:nth-child(3n) {
    margin-right: auto;
  }
  .system__item {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  .system__img {
    height: 300px;
  }
  .card__block {
    width: 420px;
  }
  .card__info {
    width: 520px;
    padding: 20px;
  }
}
@media (max-width: 1000px) {
  .comparison__block {
    overflow-x: scroll;
  }
  .comparison__table {
    width: 985px;
  }
  .card__wrap {
    display: block;
  }
  .card__block,
  .card__info {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .card__block {
    width: 520px;
    margin-bottom: 70px;
  }
}
@media (max-width: 700px) {
  .system__item {
    width: 360px;
  }
  .system__img {
    height: 360px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 26px;
  }
  .filter__date,
  .filter__select,
  .filter__label,
  .subtitle {
    font-size: 18px;
  }
  .filter__btn {
    width: 250px;
  }
  .filter__wrap {
    width: 280px;
  }
  .filter__select--diler,
  .filter__select--brand {
    width: 200px;
  }
  .filter__label {
    margin-right: 10px;
  }
  .card__block {
    height: 300px;
  }
  .card__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card__btn {
    height: 55px;
  }
  .card__btn--compare {
    width: 250px;
    min-width: 250px;
    font-size: 15px;
    margin-right: 0;
  }
  .card__btn--compare::before {
    top: 12px;
    right: 20px;
  }
  .card__btn--compare::after {
    bottom: 12px;
    right: 20px;
  }
  .card__btn--download {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .card__price span,
  .card__title {
    font-size: 24px;
  }
  .card__list li {
    width: 100%;
    margin-bottom: 20px;
  }
  .card__order {
    width: 250px;
    height: 55px;
    font-size: 15px;
  }
  .card__order:hover,
  .card__order:active {
    font-size: 16px;
    -webkit-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
  }
}
